* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT sans', sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  .container {
    padding: 0 100px 0 100px;
  }
  
  nav ul,
  .homepage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
  }
  
  .navbar {
    background-color: #363537;
  }
  
  header h1,
  header a,
  footer p,
  footer a,
  .text p,
  .about h1,
  .hobbies h1,
  .contact h1 {
    color: #BFBFBF;
  }
  
  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0;
    background-color: #363537;
  }
  
  .logo,
  .contact,
  .arrow {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .logo >* {
    margin-left: 10px;
    margin-right: 10px;
  }