{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block title %}Jsaon's Web{% endblock %}


{% block content %}
    <div class="container homepage">
        <div class="text">
            <h1>
                <span>Hello there.</span>
                <br>
                <div>
                    <span>My name is</span>
                    <span class="name">J</span>
                    <span class="m-left name">s</span>
                    <span class="m-left name">a</span>
                    <span class="m-left name">o</span>
                    <span class="m-left name">n</span>
                    <span class="m-left name">,</span>
                </div>
                <br>
                <span>I'm a human.</span>
                <a href="#about">Explore more</a>
            </h1>
        </div>
    </div>

    <div class="container about" id="about">
        <div class="text-about">
            <h1>
                About me
            </h1>
        </div>
        <div class="about-me-text">
            <p>I called Jsaon, and I am second-year student of Computer Science at University of Indonesia.</p>
            <p>I usually read manga everyday, and I dedicated my life for sleep.</p>
        </div>
        <div class="profile-image">
            <img src="{% static 'img/Profile.png' %}" alt="This text is shown if server fails to load image" />
        </div>
    </div>

    <div class="container hobbies" id="hobbies">
        <div class="text-hobbies">
            <h1>Hobbies</h1>
        </div>
        <div class="hobbies-info">
            <div class="hobby">
                <img src="{% static 'img/FPS Logo.png' %}" alt="This text is shown if server fails to load image" />
                <div class="desc"><h1>FPS Games</h1></div>
            </div><br>
            <div class="hobby">
                <img src="{% static 'img/Psy Logo.png' %}" alt="This text is shown if server fails to load image" />
                <div class="desc"><h1>Psychology</h1></div>
            </div><br>
            <div class="hobby">
                <img src="{% static 'img/Sleep Logo.png' %}" alt="This text is shown if server fails to load image" />
                <div class="desc"><h1>Sleep</h1></div>
            </div>
        </div>
    </div>
{% endblock %}