{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block title %}Jsaon's Project{% endblock %}

{% block content %}
        <div class="container coming-soon">
            <h1>Coming soon!</h1>
            <br>
            <a href="{% url 'story4app:home' %}">back</a>
        </div>
{% endblock %}
